{%  extends "base.html" %}
{%  block title %}Login{%  endblock %}

{% block style2 %}
    #centered {
        text-align: center;
    }
{% endblock %}

{% block log %}{% endblock %}

{% block nav %}{% endblock %}

{% block subtitle_page %}{% endblock %}

{% block content %}
    <br><br>
    <div id="centered">
        <h2 style="font-size: 20px;">Login:</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <!-- {{ form }} -->
            <label style="text-indent: -120px;" for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label style="margin-top:10px; text-indent: -120px" for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock %}