{% extends "base.html" %}

{% block style2 %}
    table.a {
        background-color: lightgrey;
        padding: 10px;
        width: 100%;
    }
    th, td {
        text-align: left;
        padding: 18px;
    }
    p.a {
        margin: 2px;
    }
{% endblock %}

{% block title_page %}{{ community }}{% endblock %}
{% block on_title_line %}
    <a class="btn" href="{% url 'nouveau_post' %}" data-toggle="tooltip" title="Add a new post">
        <i class="fa fa-plus-circle" style="font-size:36px"></i>
    </a>
{% endblock %}

{% block content %}
    {% for post,nb_comments in posts %}
        <table class="a">
            <tr>
                <th><a style="color: blue; font-size: 20px" href="{% url 'post' post.id %}">{{ post.titre }}</a></th>
                <td style="text-align: right" rowspan="2">
                    <p class="a">{{ post.communaute }}</p>
                    <p class="a">by {{ post.auteur }} on {{ post.date_creation }}</p>
                    {% if post.auteur == user %}
                        <a class="btn" href="{% url 'modif_post' post.id %}" data-toggle="tooltip" title="Edit post">
                            <i class="fa fa-edit" style="font-size:24px"></i>
                        </a>
                    {% endif %}
                    <p class="a">{{ nb_comments }} comments</p>
                </td>
            </tr>
            <tr>
                <td>{{ post.description|truncatewords:30 }}</td>
            </tr>
        </table><br>
    {% empty %}
        <p>There are no posts in this community.</p>
    {% endfor %}
{% endblock %}