{% extends 'base.html' %}

{% block style2 %}
    div.a {
        margin: 12px;
    }
    input, select, textarea {
        margin-top: 7px;
    }
{% endblock %}

{% block content %}
    <h1 style="font-size: 30px">Create a new post</h1><br>
    <form action="{% url 'nouveau_post' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="auteur" value="{{ user.id }}">
        <div class="a"><label for="id_communaute">Community</label><br>
            <select id="communautes" name="communaute">
                {% for community in communities %}
                    <option value="{{ community.id }}">{{ community }}</option>
                {% endfor %}
            </select><br>
        </div>
        <div class="a">
            <label for="id_titre">Title</label><br>
            <input type="text" id="id_titre" name="titre" value="title"><br>
        </div>
        <div class="a">
            <label for="id_priorite">Priority</label><br>
            <select id="id_priorite" name="priorite">
                {% for priority in priorities %}
                    <option value="{{ priority.id }}">{{ priority }}</option>
                {% endfor %}
            </select><br>
        </div>
        <div class="a">
            <label for="id_description">Description</label><br>
            <textarea id="id_description" rows="4" cols="250" name="description" style="padding:7px">Description</textarea><br>
        </div>
        <div class="a">
            <input type="checkbox" id="id_evenementiel" name="evenementiel">
            <label for="id_evenementiel" style="margin-right: 20px">Is it an event?</label>
            <label for="id_date_evenement">Event date: </label>
            <input type="date" id="id_date_evenement" name="date_evenement"><br>
        </div>
        <div class="a">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}