<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%  block title %}In da Club{% endblock %}</title>
    <style>
        {% block style %}
        h1 {
            text-indent: 50px;
            font-size: 65px;
        }
        #no_deco {
            text-decoration: none;
            color: black;
        }
        #welc {
            text-indent: 50px;
            font-size: 16px;
        }
        {% endblock %}
        {% block style2 %}{% endblock %}
    </style>
</head>
<body>
    <div class="container-fluid">

        <div class="jumbotron text-left">

            <div class="clearfix">

            {% block log %} {# login/logout button #}
                <span class="float-right">
                    {% if user.is_authenticated %}
                        <a class="btn" href="{% url 'logout' %}" data-toggle="tooltip" title="Logout">
                            <i class="fa fa-sign-out" style="font-size:36px"></i>
                        </a>
                    {% else %}
                        <a class="btn" href="{% url 'login' %}" data-toggle="tooltip" title="Login">
                            <i class="fa fa-sign-in" style="font-size:36px"></i>
                        </a>
                    {% endif %}
                </span>
            {% endblock %}

            {%  block site_name %} {# link to homepage #}
                <span class="float-left">
                <h1>
                    {% if user.is_authenticated %}
                        <a id="no_deco" href="{% url 'communautes' %}" data-toggle="tooltip" title="My subscriptions">In da Club</a>
                    {% else %}
                        <a id="no_deco" href="{% url 'homepage' %}" data-toggle="tooltip" title="Homepage">In da Club</a>
                    {% endif %}
                </h1>
                </span>
            {% endblock %}

            </div>

            {% block welcome_message %} {# Welcome message to authenticated user #}
            {% if user.is_authenticated %}
                <p id="welc">Welcome {{ user.username }}</p>
            {% endif %}
            {% endblock %}

            <nav class="navbar navbar-expand-sm"> {# Navigation bar #}
                {% block nav %}
                <ul class="navbar-nav">
                    <li class="nav-item mx-3"><a id="no_deco" href="{% url 'news_feed' %}">My news feed</a></li>
                    <li class="nav-item mx-3"><a id="no_deco" href="{% url 'communautes' %}">My subscriptions</a></li>
                    <li class="nav-item mx-3"><a id="no_deco" href="{% url 'nouveau_post' %}">Add a new post</a></li>
                </ul>
                {% endblock %}
            </nav>

        </div>

        {% block subtitle_page %} {# Title different for each page (Communities/News feed ...) #}
        <div class="clearfix mb-3 mt-1">
            <span class="float-left">
                <h1 style="font-size: 30px">{% block title_page %}{% endblock %}</h1>
            </span>
            <span class="float-right">
                {% block on_title_line %}{% endblock %}
            </span>
        </div>
        {% endblock %}

        {%  block content %}{%  endblock %}

    </div>
</body>
</html>