<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}In da Club{% endblock %}</title>
</head>
<body>
    {%  block site_name %}
        <h1 style="text-align: center">In da Club</h1>
    {% endblock %}

    {% block logout %} <!-- logout button -->
        <form action="{%  url 'logout' %}">
            <input type="submit" value="Logout">
        </form>
    {% endblock %}

    {% block welcome_message %}

    {% endblock %}
    {%  block content %}{%  endblock %}
</body>
</html>